################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MovieRental/obj
/.vs
/MovieRental/bin/Debug/net8.0
/MovieRental.Tests/bin/Debug/net8.0
/MovieRental.Tests/obj
